/* =========================================================
   BADGE
========================================================= */

.ui-badge {
    display: inline-flex;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    padding: 5px 12px;

    border-radius: 999px;

    font-size: 13px;
    font-weight: 600;

    line-height: 1.2;

    white-space: nowrap;
}


/* =========================================================
   BLEU
========================================================= */

.ui-badge-blue {
    background: #dbeafe;
    color: #1d4ed8;
}


/* =========================================================
   VERT
========================================================= */

.ui-badge-green {
    background: #dcfce7;
    color: #15803d;
}


/* =========================================================
   ORANGE
========================================================= */

.ui-badge-orange {
    background: #ffedd5;
    color: #c2410c;
}


/* =========================================================
   ROUGE
========================================================= */

.ui-badge-red {
    background: #fee2e2;
    color: #b91c1c;
}


/* =========================================================
   GRIS
========================================================= */

.ui-badge-gray {
    background: #f1f5f9;
    color: #334155;
}